<html>
    <head>
        <title>Product</title>
    </head>
    <body>
        <h3>Product List</h3>
        <form method="POST" action="/products/add">
            <table>
                <tr>
                    <td>Name :</td>
                    <td>
                        <input type="text" name="name" >
                    </td>
                    <td>Price :</td>
                    <td>
                        <input type="text" name="price" >
                    </td>
                    <td>Quantity :</td>
                    <td>
                        <input type="text" name="quantity" >
                    </td>
                    <td>Description :</td>
                    <td>
                        <input type="text" name="description" >
                    </td>
                    
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><input type="submit" value="Save"></td>
                </tr>
            </table>
        </form>
    </body>
</html>