<html>
    <head>
        <title>Product</title>
    </head>
    <body>
        <h3>Product List</h3>
        <a href="/products/add">Add Data</a>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
            {{range .products}}
            <tr>
                <td>{{.ID}}</td>
                <td>{{.Name}}</td>
                <td>{{.Price}}</td>
                <td>{{.Quantity}}</td>
                <td>{{.Description}}</td>
                <td><a href="products/update/{{.ID}}" >Edit</a> / <a href="products/delete/{{.ID}}" onclick="return confirm('Are you sure?')" >Delete</a></td>
            </tr>
            {{end}}

        </table>
    </body>
</html>